body {
  margin: 0;
}

.container {
  display:grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 5fr;
}

.container > * {
  padding: 10px;
}

.sidebar {
  background-color: lightblue;
  grid-row: span 2;
}